body{
 background-color: white;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    font-family: 'Montserrat';
    list-style: none;
    display: flex;
    justify-content:center;
    gap: 20px;
}
.accueil{
    width: 100%;
    height: 691px;
    top: 116px;
    margin-top: 20px;
    background: rgba(81, 181, 161, 0.55);
    backdrop-filter: blur(2px);
    background: url("pour web.jpg");
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.accueil img{
    background-color: white;
    width: 150.64px;
    height: 86.78px;
    
}
