body{
 background-color: white;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
nav ul{
    display: block;
    font-family: 'Montserrat';
    list-style: none;
    display: flex;
    justify-content:center;
    gap: 30px;
    align-items: center;
    align-self: center;
    height: 117px;
    font-size: 18px;
}
nav{
    justify-content: center;
    align-items: center;
    background-color: white;
}
.accueil{
    width: 100%;
    height: 691px;
    top: 116px;
    background: rgba(81, 181, 161, 0.55);
    backdrop-filter: blur(2px);
    background: url("pour web.jpg");
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.accueil img{
    background-color: white;
    width: 150.64px;
    height: 86.78px;
    border-radius: 10px;
    
}
.accueil h2{
    font-family: 'Roboto';
    padding: 10px;
    background-color: #605555;
    color: white;
    font-weight: normal;
}
.accueil small{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.container_1{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    height: 350px;
}
.circle h2{
    display: inline-block;
}
.circle small{
    display: inline-block;
}

.circle{
    flex-direction: column;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    justify-content: center;
}
.circle_1{
    box-sizing: border-box;
    width: 149.11px;
    height: 150px;
    border-radius:100px;
    border: 2px solid rgb(81, 181, 161);
    background: url("programmation.png");
    background-repeat: no-repeat;
    background-position: 50%;
    align-self: center;
    
}
.circle_2{
    box-sizing: border-box;
    width: 149.11px;
    height: 150px;
    border-radius:100px;
    border: 2px solid rgb(81, 181, 161);
    background: url("web-design.png");
    background-repeat: no-repeat;
    background-position: 50%;
    align-self: center;
    
}
.circle_3{
    box-sizing: border-box;
    width: 149.11px;
    height: 150px;
    border-radius:100px;
    border: 2px solid rgb(81, 181, 161);
    background: url("marketing.png");
    background-repeat: no-repeat;
    background-position: 50%;
    align-self: center;
    
}
.container_2{
    background: rgba(196, 196, 196, 0.35);
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
}
.container_2 h2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #000000;
}
.container_2 .text span{
    display: block;

}
.container_2 .text{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.grid{
    display: grid;
    height: 580px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 290px 290px;
}
.one{
    background: #83CBCF;
    justify-content: center;
    
    
}
.two{
    background: #67B4CC;

}
.three{
    background: #717967;
}
.four{
    background: #649A97;
}
.five{
    background: #827263;
}
.six{
    background: #35A0AE;
}
.seven{
    background: #237792;
}
.eight{
    background: #A5C0AD;
}
.grid_image img{
    width: 160px;
    height: 99px;
}
