body{
 background-color: white;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
nav ul{
    display: block;
    font-family: 'Montserrat';
    list-style: none;
    display: flex;
    justify-content:center;
    gap: 30px;
    align-items: center;
    align-self: center;
    height: 117px;
    font-size: 18px;
}
nav{
    justify-content: center;
    align-items: center;
    background-color: white;
}
.accueil{
    width: 100%;
    height: 691px;
    top: 116px;
    background: rgba(81, 181, 161, 0.55);
    backdrop-filter: blur(2px);
    background: url("pour web.jpg");
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.accueil img{
    background-color: white;
    width: 150.64px;
    height: 86.78px;
    border-radius: 10px;
    
}
.accueil h2{
    font-family: 'Roboto';
    padding: 10px;
    background-color: #605555;
    color: white;
    font-weight: normal;
}
.accueil small{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.container_1{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 350px;
}
.circle{
    box-sizing: border-box;
    width: 149.11px;
    height: 150px;
    border-radius:100px;
    border: 1px green;
}
.circle_1{
    background: url("programmation.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
