body{
    margin-left: 20px;
    margin-right: 20px;
}
.accueil{
    width: 100%;
    height: 691px;
    top: 116px;
    margin-top: 20px;
   
    backdrop-filter: blur(2px);
    background: url("pour web.jpg");
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background: rgba(81, 181, 161, 0.55);
    
}