.accueil{
    position: absolute;
    width: 1440px;
    height: 691px;
    left: 0px;
    top: 116px;
    margin-top: 20px;
    background: rgba(81, 181, 161, 0.55);
    backdrop-filter: blur(2px);
    background: url("pour web.jpg");
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
    background-size: cover;
    
}